#front-landing
  .jumbotron
    .container
      .row
        .col-md-8
          %h1.h1
            Find the best jobs in the outdoor industry.
        .col-md-4
          =link_to new_job_path do
            .btn.btn-lg.btn-success.pull-right
              POST A JOB
              .span.small.italic
                $150 for 30 days



.container{:style=>"width: 100%;"}
  -@jobs.each do |job|
    =link_to job.url, :target => '_blank' do
      .row
        .job.fill-light-gray
          .col-md-1.flush
            =image_tag('http://www.placecage.com/c/300/200')
          .col-md-6.flush
            .content
              .hook
                %strong
                  =job.title
              .description
                =job.company
          .col-md-2.flush
            .content
              .location
                =job.location
          .col-md-2.flush
            .content
              .timer
                =job.days_left
                days left
