#front-landing
  .jumbotron{:style=>"background-image:url('https://images.theoutbound.com/contents/104492/assets/1439232329123?fit=crop&h=600&w=1200');"}
    .container
      .row
        .col-md-8
          %h5.h5
            FIND YOURSELF OUTSIDE
          %h1.h1
            Post a Job
        .col-md-4
          =link_to new_job_path do
            .btn.btn-lg.btn-success.pull-right
              POST A JOB
              .span.small.italic
                $150 for 30 days 



.container
  -@jobs.each do |job|
    =link_to job do
      .row
        .job.fill-white
          .col-md-2.flush
            =image_tag('http://www.placecage.com/c/200/200')
          .col-md-10.flush
            .content
              .hook
                %strong
                  =job.company
                is looking for a 
                %strong
                  =job.title
              .description
                .p
                  =job.description
              .timer
                =job.days_left
                Days Left!
