.shadow
  #front-landing
    .jumbotron.mob-pad2{:style => "background: url('https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/11728889_1048768568489379_1840094476535132507_o.jpg');background-size:cover;"}
      .container
        .row.nav.color-white
          .col-md-8
            .logomark
              Best Outdoor Jobs
          .col-md-4

            =link_to new_job_path do
              .btn.btn-lg.btn-success.fr
                POST A JOB
            =link_to 'About', about_path, :class => 'fr m2r'
            =link_to 'Blog', 'https://www.theoutbound.com', :class => 'fr m2r'
        .row
          .col-md-8
            %h1.title.color-white.text-shadow
              Find the best jobs in the outdoor industry.

  .container.fill-white{:style=>"width: 100%;"}
    -@jobs.each do |job|
      =link_to job_path(job) do
        .row
          .job.mob-pad2
            .col-md-1.flush
              =image_tag('https://source.unsplash.com/category/nature/112x112')
            .col-md-5.flush
              .content
                .hook
                  %strong
                    =job.title
                .description
                  =job.company
            .col-md-3.flush
              .content
                .location.pad1t
                  =job.location
            .col-md-2.flush
              .content
                .timer.pad1t
                  =job.days_left
                  days left
            .col-md-1.flush.visible-lg
              .content
                .social.pad1t.pull-right
                  %a{ :href => "https://www.facebook.com/sharer/sharer.php?u=theoutbound.com", :target => "none", :title => "Meet the Team" }
                    %i.fa.fa-facebook-square
                  %i.fa.fa-twitter-square
