.shadow
  #front-landing
    .jumbotron{:style => "background: url(#{image_path('header-bg.jpg')});background-size:cover;"}
      .container
        .row.nav
          .col-md-8
            .logomark
              Best Outdoor Jobs
          .col-md-4

            =link_to new_job_path do
              .btn.btn-lg.btn-success.fr
                POST A JOB
            %a.fr.m2r Blog
            %a.fr.m2r About
        .row
          .col-md-8
            %h1.title
              Find the best jobs in the outdoor industry.

  .container.fill-white{:style=>"width: 100%;"}
    -@jobs.each do |job|
      =link_to job_path(job), :target => '_blank' do
        .row
          .job.fill-light-gray
            .col-md-1.flush
              =image_tag('https://source.unsplash.com/category/nature/112x112')
            .col-md-5.flush
              .content
                .hook
                  %strong
                    =job.title
                .description
                  =job.company
            .col-md-2.flush
              .content
                .location.pad1t
                  =job.location
            .col-md-2.flush
              .content
                .timer.pad1t
                  =job.days_left
                  days left
            .col-md-2.flush
              .content
                .social.pad1t.pull-right
                  %a{ :href => "https://www.facebook.com/sharer/sharer.php?u=theoutbound.com", :target => "none", :title => "Meet the Team" }
                    %i.fa.fa-facebook-square
                  %i.fa.fa-twitter-square
