#new-landing
  .jumbotron{:style=>"background-image:url('https://images.unsplash.com/photo-1418225043143-90858d2301b4?q=80&fm=jpg&bri=-20&s=cec4e6a46e513a540401e413286fa2fe');"}
    .container
      .row
        .col-md-8
          %h1.h1
            Post a Job

.container{:style=> 'margin-top:-60px;'}
  .row
    .col-md-12.fill-white
      .row
        .col-md-12
          .h3
            Reach thousands of prospective outdoorsy employees
          %br
          Fill out the form below to post your job to the site. The base cost is $150USD, and the ad will run for 30 days.
      .row
        .col-md-6
          -if flash[:error].present?
            .alert.alert-danger
              %a.close{:data => {:dismiss => 'alert'}}
                &times
              =flash[:error]

          =form_for @job, :action => :post do |f|
            %h4 Tell Us About Yourself
            .col-md-12.form-group
              =text_field_tag '[account][name]', nil ,:placeholder => 'Your Name', :class => 'form-control', :required => true
            .col-md-12.form-group
              =text_field_tag '[account][email]', nil ,:placeholder => 'Your Email', :class => 'form-control', :required => true

            %h4 Provide a Job Description
            .col-md-12.form-group
              =f.text_field :title, :placeholder => 'Job Title', :class => 'form-control', :required => true
            .col-md-12.form-group
              =f.text_field :company, :placeholder => 'Company Name', :class => 'form-control', :required => true
            .col-md-12.form-group
              =f.text_field :location, :placeholder => 'Location', :class => 'form-control', :required => true
            .col-md-12.form-group
              =f.text_field :url, :placeholder => 'URL to the full job posting or contact form', :class => 'form-control', :required => true
            .col-md-12.form-group
              =f.text_area :description, :placeholder => 'Enter a brief description about the job', :class => 'form-control', :required => true
            .col-md-12
              =f.submit :class=>'btn btn-lg btn-success', :value => 'Post Job'
        .col-md-6
          %ul
            %li
              One Job per ad please
            %li
              We reserve the right to remove any job or ad early for any reason
            %li
              If we remove your ad we'll refund you the prorated remaining fee
            %li
              Other than ads that are removed, there are no other refunds


