.shadow
  #new-landing
  .container.wide
    .row
      .col-md-12.fill-white.pad5.mob-pad2{:style => "background: url(#{image_path('white-mtn.jpg')});background-size:cover;"}
        .row
          .col-md-5
            %h2.pad3b
              Connect with passionate people looking for work in the outdoor industry.
            %ul.font18
              %li
                %strong $120 per job posting (30 days)
              %li
                One Job per ad please
              %li
                We reserve the right to remove any job or ad early for any reason
              %li
                If we remove your ad we'll refund you the prorated remaining fee
              %li
                Other than ads that are removed, there are no other refunds
          .col-md-1
          .col-md-6
            -if flash[:error].present?
              .alert.alert-danger
                %a.close{:data => {:dismiss => 'alert'}}
                  &times
                =flash[:error]

            =form_for @job, :action => :post do |f|
              .col-md-12.form-group
                %label Job Title
                =f.text_field :title, :placeholder => 'Ex. Chief Marketing Wizard, Lift Operator', :class => 'form-control', :required => true

              .col-md-12.form-group
                %label Location (if remote, put "Remote OK")
                =f.text_field :location, :placeholder => 'Location', :class => 'form-control', :required => true

              .col-md-12.form-group
                %label Where should this link to?
                =f.text_field :url, :placeholder => 'URL to the full job posting or contact form', :class => 'form-control', :required => true


              .col-md-12.form-group
                .row
                  .col-md-4
                    %label
                      %small
                        Industry
                    =select_tag :industry, options_for_select(Job.industries)
                  .col-md-4
                    %label
                      %small
                        Category
                    =select_tag :job_category, options_for_select(Job.job_categories)
                  .col-md-4
                    %label
                      %small
                        Position Type
                    =select_tag :position_type, options_for_select(Job.position_types)

              .col-md-12.form-group
                %label Job Description
                =f.text_area :description, :rows => 20, :placeholder => 'Enter a brief description about the job. Use Markdown styles for formatting.', :class => 'form-control', :required => true



              .col-md-12.form-group
                %label Your Contact Info
                =text_field_tag '[account][name]', nil ,:placeholder => 'Your Name', :class => 'form-control', :required => true

              .col-md-12.form-group
                =text_field_tag '[account][email]', nil ,:placeholder => 'Your Email', :class => 'form-control', :required => true

              .col-md-12.form-group
                %label Company
                =f.text_field :company, :placeholder => 'ACME Outdoors', :class => 'form-control', :required => true

              .col-md-12.form-group
                %label Company Website
                =f.text_field :url, :placeholder => 'http://www.acmeoutdoors.com', :class => 'form-control', :required => true

              .col-md-12
                =f.submit :class=>'btn btn-lg btn-success', :value => 'Post Job'


:javascript
  $( "select" ).select2({});