#new-landing
  .jumbotron{:style=>"background-image:url('https://images.theoutbound.com/contents/104492/assets/1439232329123?fit=crop&h=600&w=1200');"}
    .container
      .row
        .col-md-8
          %h5.h5
            FIND YOURSELF OUTSIDE
          %h1.h1
            Post a Job

.container{:style=> 'margin-top:-40px;'}
  .row
    .col-md-10.col-md-offset-2.fill-white{:style => 'padding-top:20px'}
      .col-md-6
        =form_for @job, :action => :post do |f|
          .col-md-8.col-md-offset-2.form-group
            =f.text_field :title, :placeholder => 'Job Title', :class => 'form-control', :required => true
          .col-md-8.col-md-offset-2.form-group
            =f.text_field :company, :placeholder => 'Company Name', :class => 'form-control', :required => true  
          .col-md-8.col-md-offset-2.form-group
            =f.text_field :location, :placeholder => 'Location', :class => 'form-control', :required => true  
          .col-md-8.col-md-offset-2.form-group
            =f.text_field :url, :placeholder => 'URL to the full job posting or contact form', :class => 'form-control', :required => true 
          .col-md-8.col-md-offset-2
            =f.submit :class=>'btn btn-lg btn-success', :value => 'Post Job'
      .col-md-6
        %ul
          %li
            One Job per ad please
          %li
            We reserve the right to remove any job or ad early for any reason
          %li
            If we remove your ad we'll refund you the prorated remaining fee
          %li
            Other than ads that are removed, there are no other refunds
}

