#front-landing
  .jumbotron{:style=>"background-image:url('https://images.unsplash.com/photo-1418225043143-90858d2301b4?q=80&fm=jpg&bri=-20&s=cec4e6a46e513a540401e413286fa2fe');"}
    .container
      .row.nav
        .col-md-8
          .logomark
            Best Outdoor Jobs
        .col-md-4

          =link_to new_job_path do
            .btn.btn-lg.btn-success.fr
              POST A JOB
          =link_to 'About', about_path, :class => 'fr m2r'
          =link_to 'Blog', 'https://www.theoutbound.com', :class => 'fr m2r'
    .row
      .col-md-8
        %h1.job-title
          ="Want to Work at #{@job.company}?"



  .container.fill-white{:style=>"width: 100%;"}
    .col-md-12.pad5.mob-pad2
      .row
        .col-md-8
          %h2.upcase
            =@job.title
          %p
            =@job.created_at
          %h3
            =@job.company
          %h3
            =@job.location
          %p.longform
            =@job.description
          .apply
            %h4 How to Apply:
            %p
              =@job.url
        .col-md-2.col-md-offset-1
          .thing{"data-offset-top" => "430", "data-spy" => "affix"}
            .btn.m2b
              %i.fa.fa-envelope.m1r
              Tell a friend
            .btn.twitter.m1b
              %i.fa.fa-twitter-square.m1r
              Share on Twitter
            .btn.facebook.m1b
              %i.fa.fa-facebook-square.m1r
              Share on Facebook
            .btn.linkedin.m1b
              %i.fa.fa-linkedin-square.m1r
              Post to Linkedin


