#front-landing
  .jumbotron{:style=>"background-image:url('https://images.unsplash.com/photo-1418225043143-90858d2301b4?q=80&fm=jpg&bri=-20&s=cec4e6a46e513a540401e413286fa2fe');"}
    .container
      .row
        .col-md-8
          %h5.h5
            ="WANT TO WORK WITH #{@job.company.upcase}?"
          %h4
            =@job.description
        .col-md-4
          =link_to new_job_path do
            .btn.btn-lg.btn-success.pull-right
              POST A JOB
              .span.small.italic
                $150 for 30 days



  .container.fill-white{:style=>"width: 100%;"}
    .row
      .col-md-12
        %ul
          %li
            =@job.company
          %li
            =@job.title
          %li
            =@job.location
          %li
            =@job.description
          %li
            =@job.url