html{
	background-color:#dbf3d0;
}
.shadow{
	-webkit-box-shadow: 0px 0px 83px -21px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 83px -21px rgba(0,0,0,0.45);
box-shadow: 0px 0px 83px -21px rgba(0,0,0,0.45);
}

.logomark{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "brandon-grotesque";
}
.nav{
	line-height:37px;
}
	.jumbotron{
	padding-top:30px;
	background: #f5efd7;
	margin-bottom: 0px;
	height: 360px;
	h1{
		color: #444;
		padding-top: 50px;
	}
}

#new-landing .jumbotron{
	height: 350px;
}
.pad5{
	padding: 50px;
}
.job{
	margin:2px 0;
	overflow:hidden;
	position:relative;
	background-size:cover;
	.content{
		padding:30px;
	}
	.hook{
		font-size: 18px;
		font-family: "brandon-grotesque";
		text-transform: uppercase;
	}
	.description{
		font-weight: 300;
		color: #888;
	}
	img{
		max-width:100%;
	}
	.timer{

	}
	.social{
		font-size: 20px;
		opacity: 0.7;
	}


}
&::-webkit-input-placeholder::after {
    display: block;
    content: "\A#Section Title \A Lorem ipsum dolor sit amet...\A\A * List item #1\A* List item #2\A* List item #3.";
  }

.select2{
	width:100% !important;
}