


	.jumbotron{
	padding-top:30px;
	background: #f5efd7;
	height: 360px;
	h1{
		color: #444;
	}
}

#new-landing .jumbotron{
	height: 350px;
}

.job{
	margin:2px 0;
	overflow:hidden;
	position:relative;
	background-size:cover;
	.content{
		padding:30px;
	}
	.hook{
		font-size: 18px;
		font-family: "brandon-grotesque";
		text-transform: uppercase;
	}
	.description{
		font-weight: 300;
		color: #888;
	}
	img{
		max-width:100%;
	}
	.timer{

	}
}